@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

body {
    background-color: #e6ecf0;
}

.btn-space {
    margin-top: 1rem;
}

/* Nav Styles */
.navbar {
    margin-bottom: 1rem;
}

.navbar a {
    font-weight: bold;
    color: #007bff;
}

.navbar a:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.navbar-brand > img {
    display: inline-block;
    width: 40px;
    margin-bottom: 2px;
    margin-right: 5px;
    border-radius: 2px;
}

ul.navbar-nav li {
    margin: 0 0.5rem;
}

.onboarding > .navbar {
    background-image: url("./images/nav-bg.png");
    background-size: 100% 100%;
}

/* Homepage  */

.home-hero {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
    background-image: url("./images/home-bg.jpg");
    text-align: center;
    padding: 1rem;
    background-position: center center;
    background-size: cover;
    color: #fff;
    text-shadow: 0 0 8px #66757f;
}

/* Message list */

#messages .list-group-item {
    display: flex;
    align-items: flex-start;
    padding: 7px 20px 12px;
}

#messages:not(.no-hover) .list-group-item:hover {
    background-color: #e6ecf0;
}

.timeline-image {
    border-radius: 50px;
    height: 48px;
    width: 48px;
    margin: 2px 30px 10px 10px;
}

.btn:hover {
    cursor: pointer;
}

a.btn.btn-danger,
a.btn.btn-danger:hover {
    color: white;
}

.navbar-header {
    margin: 0 auto;
}

/* FOOTER CSS */

/* .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
.text-muted {
    color: #ffffff !important;
} */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.1);
    /* Text properties */
    font-family: "Gloria Hallelujah", cursive;
}

.footer > a {
    color: white;
}

.footer > a:hover {
    color: rgb(62, 197, 231);
}

.footer > a > .icon-heart {
    color: rgba(255, 255, 255, 0.753);
}

.footer > a > .icon-heart:hover {
    color: rgb(255, 255, 255);
}
